body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

canvas {
  background: #222;
  border: 3px solid white;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
}
