body {
  text-align: center; /* Centra tutto */
  font-family: Arial, sans-serif; /* Imposta carattere arial, se non c’è usane qualsiasi altro */
  background: #111; /* Colore sfondo pagina */
  color: white; /* Colore del testo*/
}

canvas {
  background: #222; /* Colore sfondo canvas (grglia */
  border: 3px solid white; /* Bordo grglia spesso 3px */
  margin-top: 10px; /* Distanza sopra il canvas */
}

button {
  margin-top: 10px; /* Distanza sopra il pulsante */
  padding: 8px 16px; /* Spazio interno al pulsante */
  font-size: 16px; /* Grandezza del font */
}
